body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
}

nav {
    background-color: #666;
    padding: 5px 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    transition: top 0.3s ease; /* Animation für den Effekt beim Fixieren */
}

#navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin-left: 20px;
}

#navbar ul li a {
    color: #fff; /* Textfarbe der Links */
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}



[data-id="maximenuck137"] .mobilemenuck-item > .level1 {
	background: #2A3252;
	color: #FFFFFF;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
}

[data-id="maximenuck137"] .mobilemenuck-item > .level1 a {
	color: #FFFFFF;
	line-height: 35px;
	font-size: 18px;
}

[data-id="maximenuck137"] .mobilemenuck-item > .level1:hover, [data-id="maximenuck137"] .mobilemenuck-item > .level1.open {
	background: #AFCBF0;
}

[data-id="maximenuck137"] .mobilemenuck-item > .level1.active {
	background: #AFCBF0;
}