body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
}

nav {
    background-color: #666;
    padding: 5px;
}

nav ul, #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li, #navbar ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a, #navbar ul li a {
    text-decoration: none;
    color: #fff;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    transition: top 0.3s ease;
}

#navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    padding: 20px;
    background-color: lightgrey;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

p {
    font-size: 16px;
    text-align: center;
}

div.boxcontainer {
    min-height: 200px;
    background-color: #fff;
    border: 20px solid #ccc;
    border-radius: 2px;
}

div.box1, div.box2, div.box3 {
    width: 33.333%;
    display: table-cell;
}

.mitte {
    display: flex;
    align-items: center;
    justify-content: center;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.member {
    width: 200px;
    text-align: center;
}

.member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.member h3 {
    margin: 10px 0 5px;
}

#veranstaltungen {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.event-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.event {
    flex: 1;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: white;
}

.event:last-child {
    margin-right: 0;
}

.event img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drink-group, .input-group {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}
